<div class = "aboutInfo">
<h1>Our Restaurant</h1>
<p>Bob, has 38 years of experience in the culinary business. He and his team are excited about introducing a new menu to the Crockett County family.</p>


</div> 