.hours
  %h2
    %span Shopping Cart
  
  %a
    = link_to cart_path do
      %h3
        Amount of Items in Cart
        %i.fa.fa-shopping-cart{"aria-hidden" => "true"}
        = "(#{current_order.order_items.size})"