.onlineOrder
  %h1 Hungry?
  %a{:href => "menu"}
    %button.button
      ORDER
      %br>/
      ONLINE!
  %br/
  %br/
  %h4 Order online now, and your food will be waiting for you when you get here!
  %br/
