<% if user_signed_in? %>
<div class = "account">
    <h1>User Account</h1>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  </div> 
<% else %>
    redirect_to '.'  
<% end %>


