<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bob's Menu</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
  <div id="menuView">
    <div class="container">
  <div class="row" id="bg">
    <div class="col-md-12">
      <span class="pull-right" id="cart"><a href="#">View Order</a> | <a href="#">Checkout</a></span>
    </div>
  </div>
  <!--begin menu-->
  <div class="row">
    <div class="col-md-6">
      <!--left-hand column-->
      <div class="table-flexible">
        <table class="table borderless">
          <tbody>
              <% Menu.distinct(:category).pluck(:category).each do |category| %>
              <tr>
              <td colspan="3" class="text-center">
                <span class="secTitle"><%= category %></span>
              </td>
            </tr>
            <% @item.each do |product| %>
            <% if category == product.category %>
            <tr>
              <td>
                
                <span class="dishName"><%= product.name %></span><br/>
                <span class="dishDesc"><%= product.description %></span></td>
                <td class="price dollar"><%= product.price %></td>
                <td class="glyphicon glyphicon-shopping-cart"><a href="#">Add</a></td>
           
             </tr>             
             <% end %>
              <% end %>
             <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <!--right-hand column-->
      <div class="table-flexible">
        <table class="table borderless">
          <tbody>
            <tr>
              <td colspan="3" class="text-center">
                <span class="secTitle">Side Dishes</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="dishName">Poireaux aux c&acirc;pres et moutarde vinaigrette</span><br/>
                <span class="dishDesc">Poached leeks with capers and mustard vinaigrette</span>
              </td>
              <td class="price dollar">8</td>
              <td class="glyphicon glyphicon-shopping-cart"><a href="#">Add</a></td>
              </td>
            </tr>
            <tr>
              <td>
                <span class="dishName">Salad Ni&ccedil;oise avec hariot verts</span><br/>
                <span class="dishDesc">Salad Ni&ccedil;oise with green beans</span>
              </td>
              <td class="price dollar">10</td>
                <td class="glyphicon glyphicon-shopping-cart"><a href="#">Add</a></td>
              </td>
            </tr>
            <tr>
              <td>
                <span class="dishName">Comté Rice</span><br/>
                <span class="dishDesc">Creamy rice with cheese and herbs</span>
              </td>
              <td class="price dollar">7</td>
                <td class="glyphicon glyphicon-shopping-cart"><a href="#">Add</a></td>
            </tr>

            <tr>
              <td colspan="3" class="text-center">
                <span class="secTitle">Drinks</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="dishName">Citron Press&eacute;</span><br/>
                <span class="dishDesc">French lemonade</span>
              </td>
              <td class="price dollar">3</td>
                <td class="glyphicon glyphicon-shopping-cart"><a href="#">Add</a></td>
              </td>
            </tr>
            <tr>
              <td>
                <span class="dishName">Chocolat l'ancienne</span></br>
                <span class="dishDesc">Melted dark chocolate served with whipped cream</span>
              </td>
              <td class="price dollar">10</td>
                <td class="glyphicon glyphicon-shopping-cart"><a href="#">Add</a></td>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="text-center">
                <span class="secTitle">Desserts</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="dishName">Clafoutis</span><br/>
                <span class="dishDesc">Black cherries baked in batter and served with cream</span>
              </td>
              <td class="price dollar">15</td>
                <td class="glyphicon glyphicon-shopping-cart"><a href="#">Add</a></td>
              </td>
            </tr>
            <tr>
              <td>
                <span class="dishName">Poire belle H&eacute;l&egrave;ne</span><br/>
                <span class="dishDesc">Pears poached in sugar syrup served with whipped cream & chocolate syrup
</td>
<td class="price dollar">12</td>
<td class="glyphicon glyphicon-shopping-cart"><a href="#">Add</a></td>
</td>
</tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
  </div>
</body>
</html>