<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bob's Menu</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>



<body>
  <div id="menuView">
    <div class="container">
  <div class="row" id="bg">
    <div class="col-md-12">
      <span class="pull-right" id="cart"><a href="#">View Order</a> | <a href="#">Checkout</a></span>
    </div>
  </div>
  <!--begin menu-->
  <% Menu.distinct(:category).pluck(:category).each do |category| %>
  <div class="row">
    <div class="col-md-6">
      <!--left-hand column-->
      <div class="table-flexible">
        <table class="table borderless">
          <tbody>
            <tr>
              <td colspan="3" class="text-center">
                <span class="secTitle"><%= category %></span>
              </td>
            </tr>
            <tr>
              <td>
                <% @item.each do |product| %>
                <% if category == product.category %>
                <span class="dishName"><%= product.name %></span><br/>
                <span class="dishDesc"><%= product.description %></span></td>
              <td class="price"><%= product.price %></td>
              <td class="add"><a href="#">Add</a></td>
              <% end %>
              <% end %>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
<% end %>
</div>
  </div>
</body>
</html>