#menuView
    %h1{:style => "text-align: center; text-decoration: underline;"} Order Placed!
    %p.text-center.menuMessage Your order is being processed. Thank you for shopping with us.
    %h2{:style => "text-align: center"} Your Order's Total Is: = #{number_to_currency current_order.subtotal}