<div class = "contact">
	<h2>Contact Us</h2>
	<div class = 'form'>
		<form action="" method="post">
			<input type="text" name = "first_name" placeholder="First Name" />
			<input type="text" name = "email" placeholder="E-mail Address"/>
			<input type="text" name = "subject" placeholder="Subject"/><br><br>
			<textarea name="message" placeholder = "Please share any comments, questions, or feedback with us!"></textarea>
			<input type = "submit" value = "Send"/>
		</form>
	</div>
</div>
