
<div class = "register">
<h2>Register</h2>
	<div class = 'form'>
		<form action="" method="post">
			<input type="text" name = "first_name" placeholder="First Name" />
			<input type="text" name = "last_name" placeholder="Last Name"/>
			<input type="text" name = "email" placeholder="E-mail Address"/>
			<input type="text" name = "username" placeholder="Username"/>
			<input type="password" name = "password" placeholder="Password"/>
			<input type = "password" name = "passwordAgain" placeholder="Repeat Password"/>
			<input type="submit" value="Register">
		</form>
	</div>
</div>
